/*========Main Container=========*/
.main {
  max-width: 100%;
  width: 100%;
  flex: 1 1 auto;
  background: #f7f8f8;
  // overflow: visible;

  .main__container {
    max-width: 100%;
    min-width: 100%;
    padding: 115px 30px 30px;

    //Main bar with ticker
    .main__bar {
      background: #305a83;
      height: 67px;
      margin: 0 -30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 20px;
      z-index: 95;
      gap: 30px;

      .bar-item {
        &.time {
          word-spacing: 5px;
        }
      }
    }

    .main__content-container {
      max-width: 1920px;
      margin: 30px auto 0;
      display: grid;
      grid-template-columns: minmax(280px, 320px) minmax(800px, auto) minmax(180px, 320px);
      //grid-template-columns: minmax(280px, 320px) minmax(735px, auto) minmax(280px, 320px);
      grid-gap: 30px;
      position: relative;

      //Column for widgets
      .left__column {
        width: 100%;
        font-size: 15px;
        height: 100%;


        .left__column-container {
          position: -webkit-sticky;
          position: sticky;
          top: -0px;
          display: grid;
          grid-gap: 30px;
          grid-template-rows: min-content;
        }

        .exchange__widget {
          max-width: 100%;
          min-width: 280px;
          padding: 15px 20px;
          border-radius: 20px;
          background: #fff;
          height: fit-content;
          border: 1px solid #f4f3f3;

          .widget__header {
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            color: #35689a;
            margin-bottom: 25px;
          }

          .widget__items {
            .widget__items-header {
              display: flex;
              justify-content: space-between;
              padding: 0 15px 0 15px;
              color: #757575;
            }

            .widget__item {
              margin: 15px 0;
              border-radius: 20px;
              background: #f7f8f8;
              font-size: 20px;
              padding: 20px 20px;
              display: flex;
              justify-content: flex-start;
              cursor: default;
              transition: all 0.5s ease-in-out;

              &:hover {
                &.green {
                  box-shadow: inset 0 0 20px #e0ffdf;
                }

                &.red {
                  box-shadow: inset 0 0 20px #ffe7e7;
                }
              }

              .item__flag {
                width: 25px;
                margin: 0 5px 0 0;
              }

              .item__name {
                flex: 1 1 auto;
              }

              .item__price {
                justify-self: flex-end;
                margin-right: 10px;
              }

              .item__way {
                opacity: 0;

                &.green {
                  opacity: 1;
                  transform: rotate(-45deg);
                  color: #27ba27;
                }

                &.red {
                  opacity: 1;
                  transform: rotate(45deg);
                  color: #da4141;
                }

                &-arrow {
                  -webkit-text-stroke: 1px white;
                }
              }
            }
          }

          .widget__form {
            gap: 5px;
            border-radius: 20px;
            padding: 20px 10px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            justify-content: center;

            .form-item {
              width: 100%;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: center;

              .item-select-container {
                margin-right: 10px;
                font-size: 20px;

                .item-select__control {
                  border: 0;
                  border-color: #305a83 !important;
                  box-shadow: #305a83 !important;
                  width: 100px;

                  &.item-select__control--is-focused {
                    border-color: #305a83 !important;
                    //box-shadow: 0 0 0 1px #c3c3c3 !important;
                    box-shadow: none;
                  }

                  .item-select__value-container {
                    padding: 2px;

                    .item-select__single-value {
                      display: flex;
                      flex-direction: row;

                      .label-flag {
                        max-width: 20px;
                        margin-right: 5px;
                      }
                    }
                  }

                  .item-select__indicators {
                    .item-select__indicator {
                      padding: 8px 0 !important;
                    }
                  }
                }

                .item-select__menu {

                  .item-select__menu-list {
                    height: 150px;

                  }

                  .item-select__option {
                    display: flex;
                    overflow: hidden;

                    .label-flag {
                      min-width: 20px;
                      max-width: 20px;
                      margin-right: 5px;
                    }

                    &--is-selected {
                      background: #35689a !important;
                    }

                    &--is-focused {
                      background: rgba(53, 104, 154, 0.1);
                    }
                  }
                }
              }

              .widget__form-input {
                border-bottom: 1px solid #c3c3c3;
                overflow: hidden;
                flex: 1 1 auto;
                font-size: 20px;
                width: 100%;
              }

              span {
                overflow: hidden;
                flex: 1 1 auto;
                border-bottom: 1px solid #c3c3c3;;
                width: 100%;
              }

            }

            .converter-button {
              color: #777675;
              margin: 5px 0;
              align-self: center;
              cursor: pointer;
              transition: 0.15s all ease-in-out;

              &:hover {
                color: black;
              }

              &.rotated {
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      .right__column {
        display: grid;
        grid-template-rows: min-content;
        grid-gap: 30px;
        width: 100%;
        font-size: 15px;
        height: 100%;

        .right__column-container {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          display: grid;
          grid-gap: 30px;
          grid-template-rows: min-content;
        }

        .recommendation__widget {
          max-width: 100%;
          //min-width: 280px;
          padding: 15px 20px;
          border-radius: 20px;
          background: #fff;
          height: fit-content;
          border: 1px solid #f4f3f3;

          .widget__header {
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            color: #35689a;
            margin-bottom: 20px;
          }

          .widget__items {
            display: flex;
            flex-direction: column;
            width: max-content;
            margin: 0 auto;

            .widget__item {
              font-size: 18px;

              .item__title {
                color: #757575;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 5px 0;
                padding: 5px 0px;
                position: relative;
                z-index: 10;
                transition: 0.3s all ease-in-out;

                &:before {
                  content: "";
                  display: block;
                  width: 5px;
                  height: 5px;
                  background: #35689a;
                  border-radius: 50%;
                  margin-right: 10px;
                  transition: 0.3s all ease-in-out;
                }

                .item__link {
                  color: #35689a;
                  position: absolute;
                  height: 15px;
                  width: auto;
                  left: -7px;
                  transform: translate(20px, 0);
                  opacity: 0;
                  transition: 0.3s all ease-in-out;
                  z-index: -1;
                }

                &:hover {
                  text-shadow: 0 0 1px #305a83;
                  color: #35689a;

                  .item__link {
                    transform: translate(0, 0);
                    opacity: 1;
                  }

                  &:before {
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }

      //Column for news
      .news__column {
        width: 100%;
        display: grid;
        min-height: 1000px;

        .news__card {
          position: relative;
          display: grid;
          grid-template-columns: auto 200px;
          row-gap: 30px;
          column-gap: 30px;
          overflow: hidden;
          //max-width: 1200px;
          width: 100%;
          margin: 0 auto;
          padding: 30px;

          border-left: 1px solid #f4f3f3;
          border-right: 1px solid #f4f3f3;
          background: #ffffff;
          color: black;

          transform: translate(0, 0);
          transition: 0.15s all ease-in-out;

          &:hover {
            &:after {
              transform: translate(-50%, -5px);
            }

            .card__image {
              transform: translate(0, -5px);

              img {
                &:last-of-type {
                  opacity: 0.5;
                }
              }
            }

            .card__title {
              transform: translate(0, -5px);
            }

            .card__description {
              transform: translate(0, -5px);
            }

          }

          .card__image {
            grid-column: 2;
            grid-row: 1/4;
            height: 200px;
            position: relative;
            transition: 0.15s all ease-in-out;

            .preloader {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background: white;
              opacity: 1;
              visibility: visible;
              transition: 0.3s all;

              .loader {
                width: 75px;
                height: 75px;
                border: 6px solid #c3c3c3;
                border-radius: 50%;
                border-top-color: #305a83;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation: 1s spin infinite linear;
              }

              &.done {
                opacity: 0;
                visibility: hidden;
              }

              @keyframes spin {
                from {
                  transform: translate(-50%, -50%) rotate(0deg);
                }
                to {
                  transform: translate(-50%, -50%) rotate(360deg);
                }
              }
            }

            img {
              border-radius: 20px;
              width: 100%;
              height: 100%;

              &:first-of-type {
                object-fit: cover;
              }

              &:last-of-type {
                transition: 0.15s all ease-in-out;
                position: absolute;
                top: 50%;
                width: 95%;
                height: 95%;
                border-radius: 20px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                filter: blur(15px) saturate(5);
                opacity: 0;
              }
            }
          }

          .card__title {
            font-weight: 600;
            text-transform: uppercase;
            font-size: calc(18px + 8 * (100vw / 1920));
            line-height: 1.1;
            transition: 0.15s all ease-in-out;
          }

          .card__description {
            font-size: calc(15px + 5 * (100vw / 1920));
            letter-spacing: 0.4px;
            line-height: 1.1;
            color: #757575;
            width: 100%;
            transition: 0.15s all ease-in-out;

            span {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }
          }

          .card__footer {
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            color: #757575;
            transition: 0.15s all ease-in-out;

            span {
              white-space: nowrap;
            }
          }

          &:nth-child(5n+2), &:nth-child(5n+1) {
            border-radius: 20px;
            margin-bottom: 30px;
            border: 1px solid #f4f3f3;

            &:after {
              content: none;
            }

            &:hover {
              box-shadow: 0 0 20px 0 rgba(217, 217, 217, 0.51);
              transform: translate(0, -5px);

              .card__title {
                transform: translate(0, 0);
              }

              .card__description {
                transform: translate(0, 0);
              }

              .card__image {
                transform: translate(0, 0);
              }
            }
          }

          &:nth-child(5n+2) {
            overflow: visible;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            padding: 0 30px 0 0;
            column-gap: 30px;

            .card__image {
              grid-column: 1;
              grid-row: span 3;
              height: auto;
              min-height: 200px;
              max-height: none;
              max-width: 100%;


              img {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
            }

            .card__title {
              margin-top: 30px;
              grid-column: 2;
            }

            .card__description {
              grid-column: 2;
            }

            .card__footer {
              margin-bottom: 30px;
              grid-column: 2;
            }
          }

          &:nth-child(5n+1) {
            border-radius: 20px;
            padding: 0 0 30px 0;
            grid-template-rows: auto auto 1fr auto;
            grid-auto-rows: min-content;

            .card__image {
              grid-row: 1;
              width: 100%;
              max-width: 100%;
              height: 500px;
              max-height: 500px;
              //height: auto;
              grid-column: span 2;

              img {
                border-radius: 0;
              }
            }

            .card__title {
              padding: 0 30px 0;
              grid-column: span 2;
            }

            .card__description {
              padding: 0 30px 0;
              grid-column: span 2;
            }

            .card__footer {
              padding: 0 30px 0;
              grid-column: span 2;
            }
          }

          &:nth-child(5n+3) {
            border-top: 1px solid #f4f3f3;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
          }

          &:nth-child(5n) {
            border-bottom: 1px solid #f4f3f3;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-bottom: 30px;

            &:after {
              content: none;
            }
          }

          &:last-child {
            margin-bottom: 0 !important;
          }

          &:after {
            content: "";
            position: absolute;
            height: 1px;
            width: 90%;
            padding: 0 30px;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0);
            background: #f4f3f3;
            transition: 0.15s all ease-in-out;
          }

        }


        .news__message {
          grid-column: span 2;
          width: 100%;
          font-size: 40px;
          margin: 30px 0;
          text-align: center;
          color: #9c9c9c;
          line-height: 1.5;

          svg {
            width: 80px;
            height: 80px;
          }
        }
      }

    }
  }
}

@media screen and (max-width: 1439.98px) {
  .main {
    .main__container {
      padding: 115px 20px 30px;

      .main__bar {
        margin: 0 -20px;
      }

      .main__content-container {
        margin: 20px auto 0;
        grid-gap: 20px;
        grid-template-columns: 280px minmax(600px, auto);
        grid-template-rows: auto 1fr;

        .left__column {

          .left__column-container {
            grid-gap: 20px;
          }
        }

        .right__column {
          height: fit-content;
          .right__column-container {
            grid-gap: 20px;
          }
        }

        .news__column {
          grid-row: span 2;

          .news__card {
            &:nth-child(5n+2), &:nth-child(5n+1) {
              margin-bottom: 20px;
            }

            &:nth-child(5n) {
              margin-bottom: 20px;
            }
          }
        }
      }

    }
  }
}

@media screen and (max-width: 1023.98px) {
  .main {
    .main__container {
      .main__bar {
        grid-column: 1;
      }

      .main__content-container {
        grid-template-columns: 1fr;

        .left__column {
          order: 2;

          .left__column-container {
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
          }
        }

        .right__column {
          .right__column-container {
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
          }

          .recommendation__widget {
            max-width: 100%;
            //min-width: 280px;
            padding: 15px 20px;
            border-radius: 20px;
            background: #fff;
            height: fit-content;
            border: 1px solid #f4f3f3;

            .widget__items {
              /*width: max-content;
              margin: 0 auto;*/
            }
          }
        }

        .news__column {
          .news__card {
            .card__information {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .main {
    .main__container {
      padding: 75px 20px 20px;

      .main__content-container {
        .left__column {
          .left__column-container {
            grid-template-columns: 1fr;
          }
        }

        .right__column {
          .right__column-container {
            grid-template-columns: 1fr;
          }
        }

        .news__column {
          .news__card {
            grid-template-columns: auto 150px;
            padding: 20px;
            grid-gap: 20px;

            &:nth-child(5n+1) {
              padding: 0 0 20px 0;

              .card__title {
                padding: 0 20px;
              }

              .card__description {
                padding: 0 20px;
              }

              .card__footer {
                padding: 0 20px;
              }
            }

            &:nth-child(5n+2) {
              border-radius: 20px;
              overflow: hidden;
              grid-template-rows: auto auto;
              grid-gap: 20px;
              padding: 0 20px 0 0;

              .card__image {
                grid-row: span 3;
              }

              .card__title {
                margin: 20px 0 0;
              }

              .card__description {
                // display: none;
              }

              .card__footer {
                margin-bottom: 20px;
              }
            }

            .card__image {
              height: 150px;
              grid-row: 1/2;
            }

            .card__description {
              grid-column: span 2;
            }

            .card__footer {
              grid-column: span 2;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 479.98px) {
  .main {
    .main__container {
      padding: 75px 20px 20px;

      .main__content-container {
        .news__column {
          .news__card {
            border-left: 0;
            border-right: 0;

            &:nth-child(5n+1) {
              border-left: 0;
              border-right: 0;
            }

            &:nth-child(5n+2) {
              .card__image {
                grid-row: 1/2;
                min-height: 150px;

                img {
                  border-bottom-left-radius: 0;
                  border-bottom-right-radius: 20px;
                }
              }

              .card__description, .card__footer {
                grid-column: 1/3;
                margin-left: 20px;
              }

            }

            padding: 20px;
            grid-gap: 20px;
            grid-template-columns: auto 90px;


            .card__image {
              height: 90px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 424.98px) {
  .main {
    .main__container {
      padding: 75px 10px 20px;
      .main__bar {
        margin: 0 -10px;
        font-size: 18px;
      }
    }
  }
}